---
const logos = [
  {
    url: "/brands/uneed.svg",
  }
];
---

<section class="overflow-hidden relative bg-black">
  <div class="2xl:max-7xl mx-auto py-4 overflow-hidden bg-green-50">
    <div class="mx-auto">
      <div class="overflow-x-hidden relative">
        <div class="animate-marquee whitespace-nowrap gap-4 flex px-4 grayscale hover:grayscale-0">
          {
            logos.map((logo) => (
              <>

                <img
                  class="h-6 w-auto"
                  src={logo.url}
                  alt=""
                />
              </>
            ))
          }

        </div>
      </div>
    </div>
  </div>
</section>
